<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [4]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [5]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [6]:
# Let's check this variable out

In [7]:
# What type is this variable?

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [8]:
heart_df = pd.read_csv('./data/heart.csv')

FileNotFoundError: [Errno 2] No such file or directory: './data/heart.csv'

In [ ]:
heart_df

In [ ]:
type(heart_df)

In [ ]:
# Let's grab just one column
heart_df['age']

In [ ]:
age_series = heart_df['age']

In [ ]:
type(age_series)

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [ ]:
# Grab the same column as an attribute
heart_df.age

In [ ]:
heart_df['test col'] = heart_df.age * 2

In [ ]:
heart_df

In [ ]:
heart_df.test col

In [ ]:
heart_df['test col']

In [ ]:
heart_df[['age','cp']]

In [ ]:
# What type is the column?

Both Series and DataFrames have an *index* as well:

In [ ]:
# Check out the dataframe index
heart_df.index

In [ ]:
# Check out the series index
age_series.index

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [ ]:
# Check out the dataframe columns
heart_df.columns

In [ ]:
heart_df.columns = [col.strip().replace(' ','').lower() for col in heart_df.columns]

In [ ]:
heart_df

In [ ]:
# Now try with the series
age_series.columns

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [ ]:
# Check out the dataframe values
heart_df.values

In [ ]:
type(heart_df.values)

In [ ]:
heart_df['letter'] = 'a'

In [ ]:
heart_df.head()

In [ ]:
heart_df.values

In [ ]:
type(heart_df.values)

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [ ]:
heart_df.head()

### `.tail()` : last 5 rows

In [ ]:
heart_df.tail()

### `.info()` : information about the columns, including about nulls in those columns

In [ ]:
heart_df['strint'] = '1'

In [ ]:
heart_df.head()

In [ ]:
heart_df.info()

### `.describe()` : statistics about the data

In [ ]:
heart_df.describe()

In [ ]:
heart_df.describe(include='object')

### `.dtypes` : data types of each column

In [ ]:
heart_df.dtypes

### `.shape` : number of rows and columns

In [ ]:
heart_df.shape

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [ ]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

Let's pause and interpret - any observations?

-

In [ ]:
# Now min
heart_df.min()

In [ ]:
# And max
heart_df.max()

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [ ]:
# Accessing a CSV from a url
intake_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')

In [ ]:
intake_url.head()

In [ ]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intake_json = pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json')

In [ ]:
intake_json.head()

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!
intake_json.shape

In [ ]:
intake_url.shape

In [ ]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

In [ ]:
df.shape

In [ ]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

In [ ]:
# Check the last 5 rows
df.tail()

In [ ]:
# Check the shape
df.shape

In [ ]:
# Check the datatypes
df.dtypes

In [ ]:
# Check more general information on the dataframe
df.info()

In [ ]:
# Check summary/descriptive statistics on the dataframe
df.describe(include='object')

In [ ]:
df.describe()

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [ ]:
# Dictionary, where keys match the column names and values are the row values
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

How can we add this to the bottom of our dataset?

In [ ]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row)

In [ ]:
new_animal

In [ ]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
df_augmented = pd.concat([df, new_animal], ignore_index=True)

In [ ]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [ ]:
# Create a new column, 'test', where every value in the col is 0
df['test'] = 0

In [ ]:
# Sanity check
df.head()

But we don't need that - let's drop that column.

In [ ]:
# Drop that test column
df = df.drop(columns=['test'])

In [ ]:
# Sanity check
df.head()

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [ ]:
# Create a new column, 'Type', from the two 'Type' columns
df['Type'] = df['Intake Type'] + ' ' + df['Animal Type']

In [ ]:
# Sanity check
df.head()

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [ ]:
# Check which rows have an intake year greater than or equal to 2020
df['Year'] >= 2020

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
sum(df['Year'] >= 2020)

But this only gives us True/False outputs... what if we want to really filter?

In [ ]:
filter2020 = df['Year'] >= 2020

In [ ]:
df[  filter2020      ]

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [ ]:
# Create a subset dataframe of animals taken in during or after 2020
post2020 = df.loc[ filter2020]

In [ ]:
# Sanity check
post2020.head()

We can return only certain columns when we do this, by adding an argument after the condition:

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
post2020 = df.loc[    filter2020,     ['Animal ID','DateTime','Type']     ]

In [ ]:
post2020.head()

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [ ]:
# Find all the Stray Cats taken in during or after 2020

In [ ]:
catfilter = df['Type'] == 'Stray Cat'

In [ ]:
df.loc[catfilter & filter2020]

In [ ]:
df.loc[ (df['Type'] == 'Stray Cat') & (df['Year'] >=2020)  ]

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [ ]:
df.index

In [ ]:
# Find the first 3 rows
df.iloc[:3]

In [ ]:
# Same as using head(3)

In [ ]:
# Can look exactly where the 0 index is
df.iloc[0]

In [9]:
# But what about our subset dataframe above? It doesn't have an index 0
df.iloc[:5]

NameError: name 'df' is not defined

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [114]:
# Check the value counts for Animal Type
df['Animal Type'].value_counts()

Dog          77098
Cat          51752
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [115]:
df['Animal Type'].value_counts().index

Index(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype='object')

In [116]:
df['Animal Type'].value_counts().values

array([77098, 51752,  7253,   636,    24], dtype=int64)

In [118]:
# Now check Breed
df['Breed'].value_counts()

Domestic Shorthair Mix                   32034
Domestic Shorthair                       10440
Pit Bull Mix                              8913
Labrador Retriever Mix                    7370
Chihuahua Shorthair Mix                   6486
                                         ...
Domestic Shorthair/American Shorthair        1
Dachshund Longhair/Pomeranian                1
German Shepherd/English Coonhound            1
Miniature Schnauzer/Scottish Terrier         1
Flat Coat Retriever/Chow Chow                1
Name: Breed, Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [119]:
# Use the normalize argument to view as percentages
df['Animal Type'].value_counts(normalize=True)

Dog          0.563734
Cat          0.378406
Other        0.053033
Bird         0.004650
Livestock    0.000175
Name: Animal Type, dtype: float64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [123]:
# Let's sort the year column
df.sort_values(by='Year',ascending=False, )

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,Stray Dog
135587,A849913,*Lizzy,2022-01-15 10:44:00,2022,7405 Grenadine Bloom Bend in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,American Foxhound,Red/White,Stray Dog
135572,A850499,Reeses,2022-01-25 16:29:00,2022,14200 North Ih 35 in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Australian Cattle Dog Mix,Black/Brown,Stray Dog
135573,A850241,*Raven,2022-01-20 17:46:00,2022,7810 Old Bee Caves Road in Austin (TX),Stray,Injured,Dog,Intact Female,4 months,Labrador Retriever,Black/White,Stray Dog
135575,A850500,Bear,2022-01-25 16:29:00,2022,14200 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Labrador Retriever Mix,Black/White,Stray Dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124294,A668263,NaN,2013-12-01 00:00:00,2013,2801 E. Wells Branch in Travis (TX),Wildlife,Normal,Other,Unknown,6 months,Bat Mix,Brown,Wildlife Other
90281,A667998,*Ginger,2013-11-26 12:10:00,2013,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,4 years,Pit Bull Mix,Brown/White,Owner Surrender Dog
49519,A669182,Hunter,2013-12-16 16:24:00,2013,Pflugerville (TX),Owner Surrender,Normal,Dog,Intact Male,1 month,Labrador Retriever Mix,White,Owner Surrender Dog
80137,A666629,*Lambchop,2013-11-04 18:44:00,2013,21906 Silvia Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 years,Australian Cattle Dog Mix,Brown Brindle/White,Stray Dog
113072,A653346,NaN,2013-10-24 13:17:00,2013,13512 Mizzen in Manor (TX),Stray,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Tortie,Stray Cat

In [124]:
# Now, sort the Animal Type col
df['Animal Type'].sort_values()

57316      Bird
79944      Bird
10022      Bird
130286     Bird
105888     Bird
          ...
65050     Other
123407    Other
94470     Other
94463     Other
41614     Other
Name: Animal Type, Length: 136763, dtype: object

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.