<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [64]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [65]:
!ls

05-python-review.ipynb
06-data-analysis-with-csvs.ipynb
07-data-analysis-with-json.ipynb
08-Introducing-Pandas-DataFrames.ipynb
09-plotting-with-pandas.ipynb
10-pandas-data-cleaning.ipynb
11-aggregating-combining-dataframes.ipynb
12-descriptive-stats.ipynb
completed
data
dsc-checkpoints
images
src

In [66]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
pd.read_csv('data/heart.csv')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [67]:
heart_df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [68]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [69]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [70]:
# Let's grab just one column
age_series = heart_df['age']
age_series

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [71]:
heart_df.age #we can also use this method

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [72]:
type(age_series)

pandas.core.series.Series

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [73]:
# Grab the same column as an attribute
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [74]:
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [75]:
# What type is the column?
type(age_series)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [76]:
# Check out the dataframe index
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [77]:
# Check out the series index
age_series.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [78]:
# Check out the dataframe columns
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [79]:
# Now try with the series
age_series.columns #this gives error

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [ ]:
# Check out the dataframe values
heart_df.values

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [ ]:
heart_df.head()
 #heart_df.head(20)  this can access the first 20 rows

### `.tail()` : last 5 rows

In [ ]:
heart_df.tail() #helps us to get the latetest data

### `.info()` : information about the columns, including about nulls in those columns

In [ ]:
heart_df.info()

### `.describe()` : statistics about the data

In [ ]:
heart_df.describe()

### `.dtypes` : data types of each column

In [ ]:
heart_df.dtypes

### `.shape` : number of rows and columns

In [ ]:
heart_df.shape

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [ ]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

Let's pause and interpret - any observations?

-

In [ ]:
# Now min
heart_df.min()

In [ ]:
# And max
heart_df.max()

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [ ]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')

In [ ]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url = pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json')

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

In [ ]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
#df = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
df = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

In [ ]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

In [ ]:
# Check the last 5 rows
df.tail()

In [ ]:
# Check the shape
df.shape

In [ ]:
# Check the datatypes
df.dtypes

In [ ]:
# Check more general information on the dataframe
df.info()

In [ ]:
# Check summary/descriptive statistics on the dataframe
df.describe()

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [ ]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

In [ ]:
type(next_row)

How can we add this to the bottom of our dataset?

In [80]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

new_animal = pd.DataFrame.from_dict((next_row), orient='index')

NameError: name 'next_row' is not defined

In [1]:
new_animal

NameError: name 'new_animal' is not defined

In [ ]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
df_augmented = pd.concat([df, new_animal], ignore_index=True)

In [ ]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [ ]:
# Create a new column, 'test', where every value in the col is 0
df_augmented['test'] = 0
df_augmented['test']

In [ ]:
df_augmented['new_year'] = df_augmented['Year'] + 1 #creating new columns

In [303]:
# Sanity check
df_augmented.head()

,0,Age upon Intake,Animal ID,Animal Type,Breed,Color,DateTime,Found Location,Intake Condition,Intake Type,Name,Sex upon Intake,Year,test,new_year
0,NaN,2 years,A786884,Dog,Beagle Mix,Tricolor,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Normal,Stray,*Brock,Neutered Male,2019.0,0,2020.0
1,NaN,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female,2015.0,0,2016.0
2,NaN,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male,2016.0,0,2017.0
3,NaN,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21 07:59:00,Austin (TX),Sick,Stray,NaN,Intact Female,2013.0,0,2014.0
4,NaN,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male,2014.0,0,2015.0

But we don't need that - let's drop that column.

In [ ]:
# Drop that test column
df_augmented = df_augmented.drop(columns=['test'])

In [304]:
# Sanity check
df_augmented.head()

,0,Age upon Intake,Animal ID,Animal Type,Breed,Color,DateTime,Found Location,Intake Condition,Intake Type,Name,Sex upon Intake,Year,test,new_year
0,NaN,2 years,A786884,Dog,Beagle Mix,Tricolor,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Normal,Stray,*Brock,Neutered Male,2019.0,0,2020.0
1,NaN,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female,2015.0,0,2016.0
2,NaN,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male,2016.0,0,2017.0
3,NaN,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21 07:59:00,Austin (TX),Sick,Stray,NaN,Intact Female,2013.0,0,2014.0
4,NaN,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male,2014.0,0,2015.0

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [311]:
# Create a new column, 'Type', from the two 'Type' columns
df_augmented['Type'] = df_augmented['Intake Type'] + ' ' + df_augmented['Animal Type']

In [312]:
# Sanity check
df_augmented.head()

,0,Age upon Intake,Animal ID,Animal Type,Breed,Color,DateTime,Found Location,Intake Condition,Intake Type,Name,Sex upon Intake,Year,test,new_year,Type
0,NaN,2 years,A786884,Dog,Beagle Mix,Tricolor,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Normal,Stray,*Brock,Neutered Male,2019.0,0,2020.0,Stray Dog
1,NaN,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female,2015.0,0,2016.0,Stray Dog
2,NaN,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male,2016.0,0,2017.0,Stray Dog
3,NaN,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21 07:59:00,Austin (TX),Sick,Stray,NaN,Intact Female,2013.0,0,2014.0,Stray Cat
4,NaN,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male,2014.0,0,2015.0,Stray Dog

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [ ]:
# What type is the DateTime column now?
type(df_augmented['Year'])

In [ ]:
# Let's make that a datetime datatype
df_augmented['Year'] >= 2020

In [ ]:
# Sanity check

In [ ]:
# Now we can access parts of a datetime object using .dt - an attribute!

In [ ]:
# Make that into a new column

In [ ]:
# Sanity check

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [ ]:
# Check which rows have an intake year greater than or equal to 2020
df_augmented['Year'] >= 2020

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
sum(df_augmented['Year'] >= 2020)

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [279]:
# Create a subset dataframe of animals taken in during or after 2020
subset_2020 = df_augmented.loc[df_augmented['Year'] >= 2020]

In [299]:
subset_2020 = df_augmented.loc[(df_augmented['Year'] >= 2020) & (df_augmented['Animal Type'] == 'Cat')]

In [300]:
# Sanity check
subset_2020.head()

,0,Age upon Intake,Animal ID,Animal Type,Breed,Color,DateTime,Found Location,Intake Condition,Intake Type,Name,Sex upon Intake,Year,test,new_year
7,NaN,6 months,A844350,Cat,Domestic Shorthair,Brown Tabby,2021-10-15 11:40:00,2112 East William Cannon Drive in Austin (TX),Normal,Stray,*Ella,Intact Female,2021.0,0,2022.0
9,NaN,4 weeks,A818975,Cat,Domestic Shorthair,Cream Tabby,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Normal,Stray,NaN,Intact Male,2020.0,0,2021.0
22,NaN,1 month,A831808,Cat,Domestic Shorthair Mix,Tortie,2021-04-02 11:16:00,Austin (TX),Normal,Owner Surrender,NaN,Intact Female,2021.0,0,2022.0
44,NaN,4 weeks,A821389,Cat,Domestic Shorthair,Brown Tabby,2020-08-10 14:10:00,7800 San Felipe Boulevard in Austin (TX),Normal,Stray,*Dim Sum,Intact Male,2020.0,0,2021.0
123,NaN,1 week,A816185,Cat,Domestic Shorthair,Gray Tabby,2020-04-09 07:49:00,1830 W Rundberg in Austin (TX),Normal,Stray,NaN,Intact Male,2020.0,0,2021.0

We can return only certain columns when we do this, by adding an argument after the condition:

In [313]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df_augmented.loc[(df_augmented['Year'] >= 2020), ['Animal ID', 'DateTime', 'Type']]

       Animal ID             DateTime                 Type
7        A844350  2021-10-15 11:40:00            Stray Cat
9        A818975  2020-06-18 14:53:00            Stray Cat
22       A831808  2021-04-02 11:16:00  Owner Surrender Cat
24       A836850  2021-06-15 12:37:00    Public Assist Dog
26       A815227  2020-03-12 13:52:00            Stray Dog
...          ...                  ...                  ...
136758   A852238  2022-02-28 14:02:00            Stray Dog
136759   A852221  2022-02-28 11:05:00            Stray Dog
136760   A851977  2022-02-22 13:34:00            Stray Dog
136761   A852127  2022-02-25 13:05:00            Stray Dog
136762   A852194  2022-02-27 13:44:00            Stray Dog

[23269 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [316]:
# Find all the Stray Cats taken in during or after 2020
df_augmented.loc[(df_augmented['Year'] >= 2020) & (df_augmented['Type'] == 'Stray Cat')]

,0,Age upon Intake,Animal ID,Animal Type,Breed,Color,DateTime,Found Location,Intake Condition,Intake Type,Name,Sex upon Intake,Year,test,new_year,Type
7,NaN,6 months,A844350,Cat,Domestic Shorthair,Brown Tabby,2021-10-15 11:40:00,2112 East William Cannon Drive in Austin (TX),Normal,Stray,*Ella,Intact Female,2021.0,0,2022.0,Stray Cat
9,NaN,4 weeks,A818975,Cat,Domestic Shorthair,Cream Tabby,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Normal,Stray,NaN,Intact Male,2020.0,0,2021.0,Stray Cat
44,NaN,4 weeks,A821389,Cat,Domestic Shorthair,Brown Tabby,2020-08-10 14:10:00,7800 San Felipe Boulevard in Austin (TX),Normal,Stray,*Dim Sum,Intact Male,2020.0,0,2021.0,Stray Cat
123,NaN,1 week,A816185,Cat,Domestic Shorthair,Gray Tabby,2020-04-09 07:49:00,1830 W Rundberg in Austin (TX),Normal,Stray,NaN,Intact Male,2020.0,0,2021.0,Stray Cat
128,NaN,5 years,A834412,Cat,Domestic Shorthair,Brown Tabby,2021-05-13 13:58:00,1601 East Slaughter Lane in Austin (TX),Sick,Stray,Montie,Neutered Male,2021.0,0,2022.0,Stray Cat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136734,NaN,3 months,A852021,Cat,Domestic Shorthair Mix,Brown Tabby,2022-02-23 11:57:00,Austin (TX),Normal,Stray,*Luna,Intact Female,2022.0,0,2023.0,Stray Cat
136746,NaN,1 month,A850166,Cat,Siamese,Seal Point,2022-01-19 12:39:00,South First in Austin (TX),Normal,Stray,Rainey,Intact Male,2022.0,0,2023.0,Stray Cat
136750,NaN,5 months,A852230,Cat,Domestic Shorthair,Brown Tabby,2022-02-28 12:15:00,Austin (TX),Normal,Stray,NaN,Unknown,2022.0,0,2023.0,Stray Cat
136754,NaN,2 years,A852234,Cat,Domestic Shorthair,Calico,2022-02-28 12:33:00,305 E Lola Lane in Austin (TX),Injured,Stray,NaN,Intact Female,2022.0,0,2023.0,Stray Cat
136757,NaN,6 months,A852216,Cat,Domestic Shorthair,Black/White,2022-02-28 10:50:00,Outside Jurisdiction,Normal,Stray,NaN,Intact Female,2022.0,0,2023.0,Stray Cat

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [ ]:
# Find the first 3 rows

In [ ]:
# Same as using head(3)

In [ ]:
# Can look exactly where the 0 index is

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [ ]:
# Check the value counts for Animal Type

In [ ]:
# Now check Breed

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [ ]:
# Use the normalize argument to view as percentages

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.